.widget-manager-manage-widgets-non-default,
.widget-manager-manage-widgets-non-default label {
	color: orange;
}

.widget-manager-manage-widgets-toggle-multiple {
	white-space: nowrap;
	margin-bottom: 0;
}