.widget_manager_hide_header {
	
	> .elgg-head {
		display: none;
	}
	
	&.widget_manager_hide_header_admin:hover {
		> .elgg-head {
			display: flex;
		}
	}
}

.elgg-module-widget {
	
	&.elgg-state-collapsed > .elgg-body {
		display: none;
	}
	
	&.widget_manager_disable_widget_content_style {
		background: none;
		border: 0px;
			
		.elgg-widget-content {
			padding: 0px;
		}
		
		&:hover {
			box-shadow: none;
		}
	}
}

.elgg-widgets-grid {
	flex-wrap: wrap;
}

@media $(media-desktop-up) {
	.elgg-widgets {
		flex-basis: 0;
		
		&.col-width-25 {
			flex-basis: 25%;
			min-width: 25%;
			max-width: 25%;
		}
		&.col-width-33 {
			flex-basis: 33%;
			min-width: 33%;
			max-width: 33%;
		}
		&.col-width-40 {
			flex-basis: 40%;
			min-width: 40%;
			max-width: 40%;
		}
		&.col-width-50 {
			flex-basis: 50%;
			min-width: 50%;
			max-width: 50%;
		}
		&.col-width-60 {
			flex-basis: 60%;
			min-width: 60%;
			max-width: 60%;
		}
		&.col-width-75 {
			flex-basis: 75%;
			min-width: 75%;
			max-width: 75%;
		}
	}
}
.elgg-menu-widget-toggle > li > a {
	font-size: .9rem;
	color: $(text-color-mild);
	height: auto;
	vertical-align: middle;
	margin-right: 0.5rem;
	line-height: 1.8rem;
	text-decoration: none;
} 

.widgets-top-row .elgg-widgets-grid .elgg-widgets:last-child {
	flex-basis: 100%;
	order: -1;
	
	&.elgg-state-active {
		min-height: 50px; 
	}
}
