.widget_manager_hide_header > .elgg-head,
.widget_manager_hide_header_admin > .elgg-head {
	display: none;
}

.widget_manager_hide_header_admin:hover > .elgg-head {
	display: block;
}

.widget_manager_hide_header_admin:hover > .elgg-body {
	border-top-width: 2px;
}

.elgg-module-widget.widget_manager_disable_widget_content_style > .elgg-body,
.widget_manager_hide_header_admin > .elgg-body,
.widget_manager_hide_header > .elgg-body {
	border-top-width: 0px;
}

.elgg-module-widget.widget_manager_disable_widget_content_style {
	background: none;
	padding: 0px;
}

.elgg-module-widget.widget_manager_disable_widget_content_style .elgg-widget-content {
	padding: 0px;
}

.elgg-module-widget.widget_manager_disable_widget_content_style > .elgg-head {
	border: 2px solid #DEDEDE;
}

.elgg-widgets-grid {
	flex-wrap: wrap;
}

.elgg-widgets {
	flex-basis: 0;
}

.elgg-menu-widget-toggle > li > a {
	font-size: .9rem;
	color: $(text-color-mild);
	height: auto;
	vertical-align: middle;
	margin-right: 0.5rem;
	line-height: 1.8rem;
	text-decoration: none;
} 

.widgets-top-row .elgg-widgets-grid .elgg-widgets:last-child {
	flex-basis: 100%;
	order: -1;
	
	&.elgg-state-active {
		min-height: 50px; 
	}
}

.elgg-module-widget.elgg-state-collapsed > .elgg-body {
	display: none;
}
