.widget_manager_hide_header {
	
	> .elgg-head {
		display: none;
	}
	
	&.widget_manager_hide_header_admin:hover {
		> .elgg-head {
			display: flex;
		}
	}
}

.elgg-module-widget {	
	&.widget_manager_disable_widget_content_style {
		background: none;
		border: 0px;
			
		.elgg-widget-content {
			padding: 0px;
		}
		
		&:hover {
			box-shadow: none;
		}
	}
}

.elgg-widgets-grid {
	flex-wrap: wrap;
}

.widgets-fluid-columns {
	.elgg-widgets-grid {
		display: block;
		visibility: hidden;
	}

	.elgg-widgets {
		padding: 0;
		position: relative;
	}
	
	.elgg-module-widget {
		position: absolute;
		margin: 14px;
		
		&.muuri-item-dragging {
			z-index: 3;
		}
		&.muuri-item-releasing {
			z-index: 2;
		}
		&.muuri-item-hidden {
			z-index: 0;
		}
	}
	
	.fluid-placeholder {
		border: 3px dashed $(border-color-mild);
	}
}

@media $(media-desktop-up) {
	.elgg-widgets {
		flex-basis: 0;
		
		&.col-width-25 {
			flex-basis: 25%;
			min-width: 25%;
			max-width: 25%;
		}
		&.col-width-33 {
			flex-basis: 33%;
			min-width: 33%;
			max-width: 33%;
		}
		&.col-width-40 {
			flex-basis: 40%;
			min-width: 40%;
			max-width: 40%;
		}
		&.col-width-50 {
			flex-basis: 50%;
			min-width: 50%;
			max-width: 50%;
		}
		&.col-width-60 {
			flex-basis: 60%;
			min-width: 60%;
			max-width: 60%;
		}
		&.col-width-75 {
			flex-basis: 75%;
			min-width: 75%;
			max-width: 75%;
		}
	}
}
